body,html,div{
    margin: 0;
    padding: 0;
}
button{
    width: 24px;
    height: 24px;
    border: 0px;
    background-color: black;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    
}